		.kolory
		{
			border-style: solid;
			border-color: white;
			border-width: 2px;
			color: red;
			font-size: 20px;
			background-color:rgba(54,  57,  63,  1);
			margin-right: 700px;
		}
		body
		{
			background-color: rgba(47,49,54,1);
			margin-left: 500px;
		}